// Enable DSL2
nextflow.enable.dsl = 2

params {
    outdir = "results"
    reverse_complement = false
}

// Process-specific configurations
//  Sets a publishDir directive for all processes and defines the output directory dynamically
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}

// Capture Nextflow log files
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}

// Define profiles
profiles {
    docker {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "--bind $PWD"
        }
    }
}

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
docker.registry       = 'quay.io'
singularity.registry  = 'quay.io'
